body {
  font-size: 2em;
}

#wrapper {
	text-align: center;
    display: block;
    height: 800px;
    margin: 0 auto;
    width: 444px;
	background-size: contain;
	background-repeat: none;
}

#description {
  text-transform: capitalize;
}
#icon img {
  width: 100px;
}
footer p{
  padding-top: 70px;
  font-size: 0.5em;
}